<h2>Ramos de <%= @institution.name %></h2>


<table class="table">
<tr class="header">
	<th>Seleccionar</th>
	<th>Nombre Cod</th>
	<th>Nombre Curso</th>
</tr>

<%= form_for(@user, url: {controller: "users", action: "inscribir_ramos" }) do |f| %>
	  <% hidden_field_tag "course_ids[]", nil %>
      <% @courses.each do |course| %>
         <tr>
         <td> <%= check_box_tag "course_ids[]", course.id %> </td>
         <td> <%= course.code_name %> </td>
         <td> <%= course.name %> </td>
         </tr>

      <% end %>
    
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


</table>
