<h2>Ramos de <%= @institution.name %></h2>


<table class="table">
<tr class="header">
	<th>Seleccionar</th>
	<th>Nombre Cod</th>
	<th>Nombre Curso</th>
</tr>

<%= form_for(@user, url: { action: "crear_ramos" }) do |f| %>
      <% @courses.each do |course| %>
         <tr>
         <td> <%= check_box_tag "user[course_ids][]", course.id, f.object.courses.include?(course) %> </td>
         <td> <%= course.code_name %> </td>
         <td> <%= course.name %> </td>
         </tr>

      <% end %>
    
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


</table>

<table class="table">
<tr class="header">
	<th>Nombre Cod</th>
	<th>Nombre Curso</th>
	<th>Area</th>
	<th>Acciones</th>
</tr>


<% @courses.each do |course| %>
	<tr>
		<td> <%= course.code_name %> </td>
		<td> <%= course.name %> </td>
		<td> <%= course.area.name %>  </td>
		<td class="actions">
			<%= link_to("Show", "#" ) %>
		</td>
	</tr>
	<% end %>

</table>