<div class="row">

	<div class="col-md-9">
		<% unless @user_courses.nil? %>
			<table id="courses" class="table">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Institución</th>
						<th class="text-center">Eliminar</th>
					</tr>
				</thead>
				<tbody>
					<% @user_courses.each do |course| %>
						<tr>
							<td><%= course.institution.name %></td>
							<td><%= course.name %></td>
							<td class="text-center"> </td>
						</tr>
					<% end %>
				</tbody>
			</table>
		<% else %>
			<p class="alert alert-warning">Todavía no haz seleccionado ramos</p>
		<% end %>
	</div>

	<div class="col-md-3">
		<%= form_tag mis_ramos_agregar_path, :method => 'get', class: "add-courses-form" do %>
			<div class="form-group university">
				<%= label_tag :institution_id, "Me gustaría hacer clases en ... " %>
				<%= select_tag :institution_id, options_from_collection_for_select(@institutions, "id", "name"), {required: true, class: "form-control", prompt: "Elige la universidad"} %>
			</div>

			<%= submit_tag "Agregar ramos", class: "btn btn-primary btn-block" %>
		<% end %>
	</div>
</div>

