<h2>Todas las Relaciones entre Ramos Maestros y Areas</h2>

<%= link_to("Add New Master Career", {:action => 'new'}) %>

<table class="table">
<tr class="header">
	<th>Ramo Maestro</th>
	<th>Area</th>
	<th>Nivel</th>
	<th>Actions</th>
</tr>


<% @master_career_areas.each do |master_career_area| %>
	<tr>
		<td> <%= master_career_area.master_career.name %> </td>
		<td> <%= master_career_area.area.name %> </td>
		<td> <%= master_career_area.level %> </td>
		<td class="actions">
			<%= link_to("Edit", {:action => 'edit', :id => master_career_area.id}, :class => 'action edit') %>
			<%= link_to("Delete", {:controller => 'admin/master_career_areas',:action =>'destroy', :id => master_career_area.id }, method: :delete, data: { confirm: "You sure?" } )%>
		</td>
	</tr>
	<% end %>

</table>
