<h2>Todas las Instituciones</h2>

<%= link_to("Add New Institution", {:action => 'new'}) %>

<table class="table">
<tr class="header">
	<th>Institución</th>
	<th>Nivel</th>
	<th>Carreras</th>
	<th>Ramos</th>
	<th>Actions</th>
</tr>


<% @institutions.each do |institution| %>
	<tr>
		<td> <%= institution.name %> </td>
		<td> <%= institution.level %> </td>
		<td> <%= link_to institution.careers.count , admin_institution_careers_path(institution) %> </td>
		<td> <%= link_to institution.courses.count , admin_institution_courses_path(institution) %> </td>
		<td class="actions">
			<%= link_to("Show", "#" ) %>
			<%= link_to("Edit", {:action => 'edit', :id => institution.id}, :class => 'action edit') %>
			<%= link_to("Delete", {:controller => 'admin/institutions',:action =>'destroy', :id => institution.id }, method: :delete, data: { confirm: "You sure?" } )%>
		</td>
	</tr>
	<% end %>

</table>
