<h2>Todas las Areas</h2>

<%= link_to("Add New Area", {:action => 'new'}) %>

<table class="table">
<tr class="header">
	<th>Nombre</th>
	<th>N° Carreras Maestras</th>
	<th>N° Ramos</th>
	<th>Actions</th>
</tr>


<% @areas.each do |area| %>
	<tr>
		<td> <%= area.name %> </td>
		<td> <%= area.master_career_areas.size %> </td>
		<td> <%= area.courses.size %>  </td>
		<td class="actions">
			<%= link_to("Show", "#" ) %>
			<%= link_to("Edit", {:action => 'edit', :id => area.id}, :class => 'action edit') %>
			<%= link_to("Delete", {:controller => 'admin/areas',:action =>'destroy', :id => area.id }, method: :delete, data: { confirm: "You sure?" } )%>
		</td>
	</tr>
	<% end %>

</table>
