<%= form_for([:admin, @institution, @career], html: {class: "form-isnline"}) do |f| %>

  <div class="form-group">
    <%= f.label :name, "Nombre de la Carrera" %>
    <%= f.text_field :name, class: 'form-control', autofocus: true %>
    <%= f.hidden_field :institution_id, :value => @institution.id %>
  </div>

  <%= f.submit yield(:button_text), class: "btn btn-block btn-primary" %>
<% end %>
