<%= form_for([:admin, @institution, @career], html: {class: "form-isnline"}) do |f| %>

  <div class="form-group">
    <%= f.label :master_career_id, "Carrera" %>
    <%= f.select(:master_career_id, @master_careers.map {|b| [b.name, b.id]})  %>
    <%= f.hidden_field :institution_id, :value => @institution.id %>
  </div>

  <%= f.submit yield(:button_text), class: "btn btn-block btn-primary" %>
<% end %>
