<h2>Carreras de <%= @institution.name %></h2>

<%= link_to("Add New Career", {:action => 'new'}) %>
| <%=  link_to("Volver Instituciones", admin_institutions_path ) %>

<table class="table">
<tr class="header">
	<th>Carrera</th>
	<th>N° Alumnos</th>
	<th>N° Areas</th>
	<th>N° Solicitudes</th>
	<th>Acciones</th>
</tr>


<% @careers.each do |career| %>
	<tr>
		<td> <%= career.master_career.name %> </td>
		<td> ## </td>
		<td> ## </td>
		<td> ## </td>
		<td class="actions">
			<%= link_to("Ver Malla", admin_career_career_courses_path(career) ) %>
			<%= link_to("Editar", edit_admin_institution_career_path(id: career.id) ) %>
			<%= link_to("Delete", {:controller => 'admin/careers',:action =>'destroy', :id => career.id }, method: :delete, data: { confirm: "You sure?" } )%>
		</td>
	</tr>
	<% end %>

</table>
