<div class="row">
	<div class="col-md-4">
		<p> <%= link_to "Instituciones", admin_institutions_path, class: "btn-block btn btn-primary" %> </p>
        <p> <%= link_to "Carreras Maestras", admin_master_careers_path, class: "btn-block btn btn-primary" %> </p>
  		<p> <%= link_to "Areas del Cococimiento", admin_areas_path, class: "btn-block btn btn-primary" %> </p>
  		<p> <%= link_to "Relación Carreras y Areas", admin_master_career_areas_path, class: "btn-block btn btn-primary" %> </p>

	</div>

	<div class="col-md-4">
		<div class="panel panel-default">
				<div class="panel-body">
					<legend>Importar Mallas</legend>
					<%= form_tag admin_import_courses_xls_path, id: "upload_xls_file", multipart: true do %>
						<div class="form-group">
						  <%= file_field_tag :xls_courses_file %>
						</div>
						<%= submit_tag "Subir excel", class: "btn btn-primary btn-block" %>
					<% end %>
					<small class="help-block">*La estructura debe ser: <strong> | Institución | Carrera | Cod Ramo | Ramo | Semestre | Area | </strong> </small>
				</div>
			</div>
	</div>	


	<div class="col-md-4">
		<div class="panel panel-default">
				<div class="panel-body">
					<legend>Importar Relación Carreras-Areas </legend>
					<%= form_tag admin_import_master_careers_areas_xls_path, id: "upload_xls_file", multipart: true do %>
						<div class="form-group">
						  <%= file_field_tag :xls_master_careers_areas_file %>
						</div>
						<%= submit_tag "Subir excel", class: "btn btn-primary btn-block" %>
					<% end %>
					<small class="help-block">*La estructura debe ser: (aún por implementar las funciones en el controlador) <strong> | Carrera | Area | Nivel | </strong> </small>
				</div>
			</div>
	</div>	

</div>