<div class="row">
	<div class="col-md-4">
			<p>
				<%= link_to "Instituciones", admin_institutions_path, class: "btn-block btn btn-primary" %>
			</p>
      <p>
        <%= link_to "Carreras Maestras", admin_master_careers_path, class: "btn-block btn btn-primary" %>
      </p>
  		<p>
				<%= link_to "Areas del Cococimiento", admin_areas_path, class: "btn-block btn btn-primary" %>
			</p>
			<p>
				<%= link_to "", "#", class: "btn-block btn btn-primary" %>
			</p>

	</div>
	<div class="col-md-4">
		<p>
			<%= link_to "", "#", class: "btn-block btn btn-primary" %>
		</p>
			<p>
				<%= link_to "", "#", class: "btn-block btn btn-primary" %>
			</p>
			<p>
				<%= link_to "", "#", class: "btn-block btn btn-primary" %>
			</p>
			<p>
				<%= link_to "", "#", class: "btn-block btn btn-primary" %>
			</p>
	</div>

	<div class="col-md-4">			
			<p>
				<%= link_to "", "#", class: "btn-block btn btn-primary" %>
			</p>
			<p>
				<%= link_to "", "#", class: "btn-block btn btn-primary" %>
			</p>
	</div>

</div>